
body.archive {

    .inner {
        max-width: 1000px;
        margin: 60px auto 0;
        display: flex;
    }

    .leftblock {
        padding-right: 50px;
        width: 100%;

        &__flex {
            display: flex;
            padding-bottom: 25px;
            border-bottom: 1px solid #AFAFAF;
            padding-top: 25px;

            &:first-child {
                padding-top: 0;
            }
        }
        &__img {
            margin-right: 29.8px;
        }
        time {
            font-size: 14px;
            font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
        }
        span {
            font-size: 13px;
            font-family: 'Rubik', sans-serif;
            color: #8B8B8B;
            padding-left: 17.5px;
        }
        h4 {
            font-size: 20px;
            font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
            letter-spacing: 0.025em;
            line-height: 1.4;
            padding-bottom: 13.1px;
            padding-top: 27.3px;
        }
        p {
            font-size: 14px;
            font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
            letter-spacing: 0.025em;
            line-height: 1.7;
        }
    }

    .rightblock {

    }
}
