
html {
    a {
        text-decoration: none;
    }
    .header {
        background-image: url(../assets/img/common/works_header@2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        font-family: 'Noto Serif', serif;
 
        &__nav {
            display: flex;
            justify-content: space-between;
            padding: 40px 120px 10px 120px;
        }

        li {
            display: inline;
            padding-left: 30px;
            a {
                color: #fff;
                font-size: 16px;
            }
        }
        h1 {
            font-size: 60px;
            color: #fff;
            text-align: center;
            padding-bottom: 79px;
            letter-spacing: 0.4rem;
        }
    }


    .breadcrumb {
        padding-left: 120px;
        padding-top: 16px;
        font-size: 14px;
        font-family: 'Rubik', sans-serif;
        li {
            display: inline;
            
            
            &::after{
                content: '/';
                display: inline-block;
                padding: 0 2px;
              }
              
            &:last-child::after{
                display: none;
              }
            
        }
        a {
            color: #3E3E3E;
        }
    }

    .inner {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
    }
    .leftblock {
        padding-right: 77px;
        padding-top: 64.8px;
        &__main {
            time {
                font-size: 14px;
                font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
            }
            span {
                font-size: 13px;
                font-family: 'Rubik', sans-serif;
                color: #8B8B8B;
                padding-left: 17.5px;
            }
            h2 {
                font-size: 26px;
                padding-top: 29.2px;
                padding-bottom: 36px;
                font-weight: bold;
                color: #3E3E3E;
            }
        }
        &__txt {
            font-size: 16px;
            font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
            padding-top: 29.2px;
            padding-bottom: 36px;
            line-height: 2;
            
        }

        h3 {
            font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;;
            font-size: 24px;
            letter-spacing: 0.05;
            line-height: 1.67;
            font-weight: normal;
            border-bottom: #000 solid 2px;
            padding-bottom: 10px;
            margin: 135.9px 0 20px;
        }

        p {
            font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
            font-size: 16px;
            line-height: 2;
            letter-spacing: 0.05;
        }

        h4 {
            font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
            font-size: 20px;
            letter-spacing: 0.05;
            line-height: 1.7;
            font-weight: normal;
            padding-left: 15px;
            position: relative;
            margin: 80px 0 20px;
    
            &:before{
                content: '';
                width: 5px;
                height: 50%;
                background-color: #000;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }



    }


    .rightblock {
        &__title {
            font-size: 20px;
            font-family: 'Noto Serif', serif;
            padding-bottom: 22.8px;
            padding-top: 25px;
        }
        li {
            font-size: 14px;
            font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
            padding-bottom: 10px;
        }
        li:last-child {
            padding-bottom: 26.2px;
        }
        a{
            color: #01161F;
            position: relative;
            padding-left: 20px;
            &:before{
                content: '';
                width: 6px;
                height: 10px;
                background-image: url(../img/common/arrow.svg);
                background-repeat: no-repeat;
                background-size: 6px 10px;
                background-position: center;
                position: absolute;
                left: 2px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .btn{
        text-align: center;
        padding-top: 91.3px;
        padding-bottom: 98.8px;
        &__back {
            color: #fff;
            background-color: #282F35;
            padding: 12.8px 64.7px 15.4px 66px;
            border-radius: 4px;
        }
    }


    .footer {
        p {
            text-align: center;
            padding-top: 30px;
            padding-bottom: 30px;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 100;
            letter-spacing: 0.05em;
        }
    }




}