/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

html .body {
  font-family: 'Noto Serif', 'Noto Serif JP', sans-serif;
}

html .body .inner {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

html .body .inner-large {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

html .body img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

html .body a {
  text-decoration: none;
}

html .body .title {
  font-size: 6em;
  letter-spacing: 2px;
  font-style: italic;
  font-weight: 800;
}

html .body .title:after {
  content: '';
  width: 200px;
  height: 5px;
  background-color: #171717;
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 17px;
}

html .body .title.white {
  color: white;
  text-align: right;
}

html .body .title.white:after {
  background-color: #FFF;
}

html .body .subtitle {
  font-size: 9em;
  color: #171717;
  opacity: 5%;
  float: right;
  margin-top: 70px;
  margin-bottom: 70px;
  z-index: 99;
}

html .body .subtitle.left {
  margin-top: 140px;
  float: left;
  color: #ffffff;
}

html .body .header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99;
}

html .body .header_inner {
  padding: 19px 120px 0  120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html .body .header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

html .body .header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  padding-top: 10px;
}

html .body .header_nav a {
  font-size: 1.8em;
  text-decoration: none;
  padding-right: 30px;
  font-family: 'Noto Serif', serif;
  color: #ffffff;
  font-style: italic;
}

html .body .mv {
  height: 100vh;
  width: 100%;
  position: relative;
}

html .body .mv .slider {
  position: relative;
  width: 100%;
  height: 100%;
}

html .body .mv .slider .slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

html .body .mv .slider_logo {
  position: absolute;
  top: 54%;
  left: 8%;
  color: #ffffff;
}

html .body .mv .slider_logo .slider_logo1 {
  font-size: 7em;
  letter-spacing: 4px;
}

html .body .mv .slider_logo .slider_logo2 {
  font-size: 4em;
  margin-top: 31px;
  margin-left: 8%;
}

html .body .concept {
  margin-top: 75px;
}

html .body .concept_txt {
  margin: 70px;
  text-align: center;
  font-size: 3em;
  letter-spacing: 3px;
  line-height: 1.8;
}

html .body .concept_sentence {
  font-size: 1.6em;
  line-height: 1.9;
}

html .body .concept_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .body .concept_sentence {
  width: 44%;
}

html .body .concept_img {
  width: 44%;
}

html .body .works {
  clear: none;
  margin-top: 70px;
  position: relative;
  top: 170px;
}

html .body .works_backimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: auto;
}

html .body .works .subtitle {
  margin: 0;
}

html .body .works_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: auto;
  margin-bottom: 80px;
  margin-top: 80px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html .body .works_images p {
  background-color: #FFF;
  font-size: 1.6em;
  color: black;
  line-height: 1.8;
  padding: 25px 20px;
}

html .body .works_images > li {
  width: calc((100% - 40px) / 3);
}

html .body .service {
  margin-top: 300px;
  padding-top: 0;
}

html .body .service img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

html .body .service_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 80px;
  padding-bottom: 120px;
  position: relative;
  top: 65px;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html .body .service_txt {
  text-align: center;
  font-size: 4em;
  position: absolute;
  bottom: 230px;
  padding-left: 120px;
  color: #FFF;
}

html .body .service a {
  text-decoration: none;
}

html .body .contact {
  clear: none;
  margin-top: 200px;
}

html .body .contact_txt {
  color: #ffffff;
  text-align: center;
  padding: 594px 271px 40px 271px;
  font-size: 2.0em;
}

html .body .contact .img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

html .body .contact_btn {
  text-align: center;
}

html .body .botton {
  display: inline-block;
  padding: 20px 60px;
  border-radius: 30px;
  text-decoration: none;
  color: #171717;
  background-color: #F7D43F;
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 1.6em;
  margin-bottom: 262px;
}

html .body .footer {
  background-color: #FFF;
  font-size: 1.4em;
  padding: 29px;
}

html .body .footer span {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */