@charset 'UTF-8';
@import './reset';
html{
    font-size: 62.5%;
    @media screen and (max-width: 767px) {
        padding: 0;
    }

.body{
    font-family: 'Noto Serif', 'Noto Serif JP', sans-serif;

    // レイアウト
    .inner {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        @media screen and (max-width: 767px) {
            padding: 0 20px;
        }
    }

    .inner-large {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }

    img{
        max-width: 100%;
        height: auto;
        vertical-align: bottom;
    }

    a {
        text-decoration: none;
    }

    // .clearfix::after {
    //     content: "";
    //     display: block;
    //     clear: both;
    //   }
    // コンポーネント化

    .title {
        font-size: 6em;
        letter-spacing: 2px;
        font-style: italic;
        font-weight: bold;
        text-align: left;
        @media screen and (max-width: 767px) {
            font-size: 3em;
        }
        &:after{
            content: '';
            width: 200px;
            height: 5px;
            background-color: #171717;
            display: inline-block;
            margin-left: 30px;
            margin-bottom: 17px;
            @media screen and (max-width: 767px) {
                width: 30%;
                height: 2px;
            }
        }
        &.white{
            color: white;
            text-align: right;
            &:after{
                background-color: #FFF;
            }
        }
    }

    .subtitle {
        font-size: 9em;
        color: #171717;
        opacity: 5%;
        text-align: right;
        z-index: 99;
        @media screen and (max-width: 767px) {
            font-size: 4em;
        }
        &::after {
            content: "";
            display: block;
            clear: both;
        }
        &.left {
            text-align: left;
            color: #ffffff;
        }
    }

    // Check !!
    // spのコーディングの時は部分的に、display: none;のにしてやると便利です！
    // .wrap{
    //     @media screen and (max-width: 767px) {
    //         display: none;
    //     }
    // }

    // スタイル
    .header {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 99;

        &_inner {
            padding: 19px 120px 0  120px;
            display: flex;
            justify-content: space-between;
        }

        &_logo {
            display: flex;
            float: left;
            clear: both;
            width: auto;
        }

        &_nav {
            display: flex;
            float: right;
            padding-top: 10px;

            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;

            .header_nav.active{
                transform: translateY(0%);
                }

              li {
                display: inline-block;
                list-style: outside none none;
                // margin: 0 2em;
                padding: 0;
              }


            a {
                font-size: 1.8em;

                // Check !!
                // aタグにpaddingを加えると、クリックの範囲にpaddingを含んでしまいます。
                // この場合は、marginの方が適切です
                // padding-right: 30px;
                margin-right: 30px;

                font-family: 'Noto Serif', serif;
                color: #ffffff;
                font-style: italic;
                display: inline-block;
                position: relative;

                // Check !!
                // beforeとafterの共通部分を一気に書くと楽です
                &:before, &:after{
                    content: '';
                    height: 3px;
                    border-right: 8px solid #fff;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 0;

                    // Check !!
                    // これは省略系です
                    transition: all .35s ease;
                    // Check !!
                    // transition-property: all;
                    // transition-duration: 0.35s;
                    // transition-timing-function: ease;
                }

                &:before {
                    left: 0;
                }

                &:after{
                    right: 0;
                }

                &:hover {
                    color: #ffffff;
                }

                // Check !!
                // hoverの動きを確認しておきましょう！
                &:hover {
                    &:before {
                        opacity: 1;
                        left: -17px;
                    }

                    &:after{
                        opacity: 1;
                        right: -17px
                    }
                }
            }
        }

        .Toggle {
            display: block;
            position: fixed;    /* bodyに対しての絶対位置指定 */
            right: 13px;
            top: 12px;
            width: 42px;
            height: 42px;
            cursor: pointer;
            z-index: 3;

            // Check !!
            // pc時要らないので、display: none;で非表示に
            @media screen and (min-width: 768px) {
                display: none;
            }

            // Check !!
            // 折角なので、scss記法で書きましょう！
            span {
                display: block;
                position: absolute;
                width: 30px;
                border-bottom: solid 3px #000;
                transition: .35s ease-in-out;			/*変化の速度を指定*/
                left: 6px;

                &:nth-child(1) {
                    top: 9px;
                }

                &:nth-child(2) {
                    top: 18px;
                }

                &:nth-child(3) {
                    top: 27px;
                }
            }

            &.active span {
                &:nth-child(1) {
                    top: 18px;
                    left: 6px;
                    transform: rotate(-45deg);
                }
                // Check !!
                // 消してあげた方がわかりやすいです
                &:nth-child(2){
                    opacity: 0;
                }
                &:nth-child(3) {
                    top: 18px;
                    transform: rotate(45deg);
                }
            }
        }
    }

    .mv{
        clear: both;
        height: 100vh;
        width: 100%;
        position: relative;

        .slider{
            position: relative;
            width: 100%;
            height: 100%;

            .slide {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 100vh;
            }
        }

        .slider_logo {
            position: absolute;
            top: 54%;
            left: 8%;
            color: #ffffff;
            @media screen and (max-width: 767px) {
                font-size: 0.5em;
            }

            span {
                display: block;
                &:nth-child(1) {
                    font-size: 7em;
                    letter-spacing: 4px;
                }
                &:nth-child(2) {
                    font-size: 4em;
                    text-align: center;
                    padding-top: 35px;
                }
            }
        }
    }

    .concept {

        .title {
            padding-top: 118px;
        }
        &_txt{
            margin: 70px;
            text-align: center;
            font-size: 3em;
            letter-spacing: 3px;
            // width: 630px;
            // height: 95px;
            line-height: 1.8;
            @media screen and (max-width: 767px) {
                font-size: 1.7em;
            }
        }

        &_box {
            display: flex;
            justify-content: space-between;
        }

        &_sentence {
            width: 44%;
            font-size: 1.6em;
            line-height: 1.9;
        }

        &_img {
            width: 44%;
            height: auto;
            vertical-align: bottom;
            }
        .subtitle {
            padding-top: 97px;
        }


    }

    .works {
        margin-top: 75px;
        position: relative;

        .title {
            padding-top: 122px;
        }


        &_backimg {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            max-width: 100%;
            height: auto;
        }

        &_images{
            display: flex;
            flex-direction: row;
            max-width: 1000px;
            height: auto;
            margin-bottom: 80px;
            margin-top: 80px;
            justify-content: space-around;
            p {
                background-color: #FFF;

                // Check !!
                // heightは不要です！
                height: 134px;
                font-size: 1.6em;
                color: black;
                line-height: 1.8;
                padding: 25px 20px;
            }

            > li {
                width: calc((100% - 40px) / 3);
            }
        }
        &_btn {
            text-align: center;
            padding-bottom: 70px;
        }
        .subtitle {
            padding-bottom: 70px;
        }

    }

    .service {
        .title {
            padding-top: 118px;
        }



        &_images {
            display: flex;
            flex-direction: row;
            padding-top: 80px;
            padding-bottom: 120px;
            position: relative;
            max-width: 100%;
            height: auto;
            vertical-align: bottom;
            justify-content: space-around;

            > li {
                position: relative;

                // Check !!
                // hoverの動きに注目してください！
                &:before, &:after{
                    content: '';
                    height: 0;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    background-color: rgba(#282F35, .7);
                    transition: .3s;
                    z-index: 1;
                }

                &:before{
                    top: 0;
                }

                &:after{
                    bottom: 0;
                }

                &:hover {
                    &:before, &:after{
                        height: 50%;
                    }
                }
            }
        }

        .se-box {
            position: relative;
            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);

                // Check !!
                // 擬似要素の上に持ってくる為に
                z-index: 2;
            }
        }

        &_txt {
            text-align: center;
            font-size: 4em;
            color: #FFF;
            @media screen and (max-width: 767px) {
                font-size: 2em;
            }
        }
        .subtitle {
            padding-bottom: 70px;
        }
    }

    .contact {
        .title {
            padding-top: 127px;
            padding-bottom: 84px;
        }

        &_txt {
            color: #ffffff;
            text-align: center;
            padding: 0px 271px 40px 271px;
            font-size: 2.0em;
            @media screen and (max-width: 767px) {
                font-size: 1.8em;
            }
        }
        .img {
            max-width: 100%;
            height: auto;
            vertical-align: bottom;

            // Check !!
            // 下のプロパティを追加してください！
            // background-repeat: no-repeat;
            // background-size: cover;
            // background-position: center;
        }
        &_btn {
            text-align: center;
            padding-bottom: 70px;
        }
        .subtitle {
            padding-bottom: 111px;
        }
    }

    .botton {
        display: inline-block;
        padding: 20px 60px;
        border-radius: 30px;
        text-decoration: none;
        color: #171717;
        background-color: #F7D43F;
        transition: .4s;
        font-size: 1.6em;
        overflow: hidden;
        position: relative;

        // Check !!
        // hoverの動きに注目してください！
        &:after{
            content: '';
            width: 250px;
            height: 100px;
            background-color: #DDDDDD;
            position: absolute;
            // left: 50%;
            left: -100%;
            top: 50%;
            transform :translateY(-50%) translateX(-50%);
            transition: 1s ease;
        }

        span {
            position: relative;
            z-index: 2;
        }

        &:hover {
            // color: #fff;
            // background-color: #DDDDDD;
            &:after{
                left: 200%;
            }
        }

    }
    .footer {
        text-align: center;
        background-color: #FFF;
        font-size: 1.4em;
        padding: 29px;
    }

}

}
