@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 767px) {
  html {
    width: 100%;
    height: auto;
    padding: 0;
  }
}

html .body {
  font-family: 'Noto Serif', 'Noto Serif JP', sans-serif;
}

html .body .inner {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  html .body .inner {
    padding: 0 20px;
  }
}

html .body .inner-large {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

html .body img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

html .body a {
  text-decoration: none;
}

html .body .title {
  font-size: 6em;
  letter-spacing: 2px;
  font-style: italic;
  font-weight: bold;
  text-align: left;
}

@media screen and (max-width: 767px) {
  html .body .title {
    font-size: 3em;
  }
}

html .body .title:after {
  content: '';
  width: 200px;
  height: 5px;
  background-color: #171717;
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 17px;
}

@media screen and (max-width: 767px) {
  html .body .title:after {
    width: 30%;
    height: 2px;
  }
}

html .body .title.white {
  color: white;
  text-align: right;
}

html .body .title.white:after {
  background-color: #FFF;
}

html .body .subtitle {
  font-size: 9em;
  color: #171717;
  opacity: 5%;
  text-align: right;
  z-index: 99;
}

@media screen and (max-width: 767px) {
  html .body .subtitle {
    font-size: 4em;
  }
}

html .body .subtitle::after {
  content: "";
  display: block;
}

html .body .subtitle.left {
  text-align: left;
  color: #ffffff;
}

html .body .header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99;
}

html .body .header_inner {
  width: 100%;
  margin: 0 auto;
  padding-top: 19px;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html .body .header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: auto;
}

html .body .header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

html .body .header_nav .header_nav.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

html .body .header_nav a {
  font-size: 1.8em;
  padding-right: 30px;
  color: #ffffff;
  font-style: italic;
  display: inline-block;
  position: relative;
}

html .body .header_nav a:before {
  left: 20%;
  right: 20%;
  top: 50%;
  content: '';
  border-right: 8px solid #fff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 3px;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

html .body .header_nav a:hover {
  color: #ffffff;
}

html .body .header_nav a:hover:before {
  left: 10%;
  right: 10%;
  opacity: 1;
}

html .body .header .Toggle {
  display: block;
  position: fixed;
  /* bodyに対しての絶対位置指定 */
  right: 13px;
  top: 12px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  z-index: 3;
}

html .body .header .Toggle span {
  display: block;
  position: absolute;
  width: 30px;
  border-bottom: solid 3px #000;
  -webkit-transition: .35s ease-in-out;
  /*変化の速度を指定*/
  /*変化の速度を指定*/
  transition: .35s ease-in-out;
  /*変化の速度を指定*/
  left: 6px;
}

html .body .header .Toggle span:nth-child(1) {
  top: 9px;
}

html .body .header .Toggle span:nth-child(2) {
  top: 18px;
}

html .body .header .Toggle span:nth-child(3) {
  top: 27px;
}

html .body .header .Toggle.active span:nth-child(1) {
  top: 18px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

html .body .header .Toggle.active span:nth-child(2),
html .body .header .Toggle.active span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

html .body .mv {
  height: 100vh;
  width: 100%;
  position: relative;
}

html .body .mv .slider {
  position: relative;
  width: 100%;
  height: 100%;
}

html .body .mv .slider .slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

html .body .mv .slider_logo {
  position: absolute;
  top: 54%;
  left: 8%;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  html .body .mv .slider_logo {
    font-size: 0.5em;
  }
}

html .body .mv .slider_logo span:nth-child(1) {
  font-size: 7em;
  letter-spacing: 4px;
}

html .body .mv .slider_logo span:nth-child(2) {
  font-size: 4em;
  text-align: center;
}

html .body .concept .title {
  padding-top: 118px;
}

html .body .concept .subtitle {
  padding-top: 70px;
  padding-bottom: 70px;
}

html .body .concept_txt {
  margin: 70px;
  text-align: center;
  font-size: 3em;
  letter-spacing: 3px;
  line-height: 1.8;
}

@media screen and (max-width: 767px) {
  html .body .concept_txt {
    font-size: 1.7em;
  }
}

html .body .concept_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html .body .concept_sentence {
  width: 44%;
  font-size: 1.6em;
  line-height: 1.9;
}

html .body .concept_img {
  width: 44%;
  height: auto;
  vertical-align: bottom;
}

html .body .works {
  margin-top: 75px;
  position: relative;
}

html .body .works .title {
  padding-top: 118px;
}

html .body .works_backimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: auto;
}

html .body .works_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1000px;
  margin-bottom: 80px;
  margin-top: 80px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html .body .works_images p {
  background-color: #FFF;
  font-size: 1.6em;
  color: black;
  line-height: 1.8;
  padding: 25px 20px;
}

html .body .works_images > li {
  width: calc((100% - 40px) / 3);
}

html .body .works_btn {
  text-align: center;
  padding-bottom: 70px;
}

html .body .service .title {
  padding-top: 118px;
}

html .body .service_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 80px;
  padding-bottom: 120px;
  position: relative;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html .body .service .se-box {
  position: relative;
}

html .body .service .se-box p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

html .body .service_txt {
  text-align: center;
  font-size: 4em;
  color: #FFF;
}

@media screen and (max-width: 767px) {
  html .body .service_txt {
    font-size: 2em;
  }
}

html .body .service .subtitle {
  padding-bottom: 70px;
}

html .body .service li:hover {
  opacity: 0.7;
}

html .body .contact {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

html .body .contact .title {
  padding-top: 127px;
  padding-bottom: 84px;
}

html .body .contact_txt {
  color: #ffffff;
  text-align: center;
  padding: 0px 271px 40px 271px;
  font-size: 2.0em;
}

@media screen and (max-width: 767px) {
  html .body .contact_txt {
    font-size: 1.8em;
  }
}

html .body .contact_btn {
  text-align: center;
}

html .body .contact .subtitle {
  padding-bottom: 111px;
}

html .body .botton {
  display: inline-block;
  padding: 20px 60px;
  border-radius: 30px;
  text-decoration: none;
  color: #171717;
  background-color: #F7D43F;
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 1.6em;
  overflow: hidden;
}

html .body .botton:hover {
  color: #fff;
  background-color: #DDDDDD;
}

html .body .footer {
  text-align: center;
  background-color: #FFF;
  font-size: 1.4em;
  padding: 29px;
}
/*# sourceMappingURL=style.css.map */