@charset 'UTF-8';
@import '../style/reset';
* {
    box-sizing: border-box;
}
html {
    a {
        text-decoration: none;
    }
    .header {
        background-image: url(../img/works_img/works_header@2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        font-family: 'Noto Serif', serif;

        &__nav {
            display: flex;
            justify-content: space-between;
            padding: 40px 120px 10px 120px;
        }

        li {
            display: inline;
            padding-left: 30px;
            a {
                color: #fff;
                font-size: 16px;
            }
        }
        h1 {
            font-size: 60px;
            color: #fff;
            text-align: center;
            padding-bottom: 79px;
            letter-spacing: 0.4rem;
        }
    }

    h4 {
        padding-left: 120px;
        padding-top: 16px;
        font-family: 'Rubik', sans-serif;
    }

    .inner {
        padding: 32.8px 220px 102px 222px;
        display: flex;
    }
    .leftblock {
        padding-right: 50px;
        &__flex {
            display: flex;
            padding-bottom: 25px;
            border-bottom: 1px solid #AFAFAF;
            padding-top: 25px;
        }
        &__img {
            margin-right: 29.8px;
        }
        p:nth-child(1) {
            font-size: 14px;
            font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
            float: left;
        }
        p:nth-child(2) {
            font-size: 13px;
            font-family: 'Rubik', sans-serif;
            color: #8B8B8B;
            float: right;
            margin-right: 495.1px;
        }
        p:nth-child(3) {
            font-size: 20px;
            font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
            letter-spacing: 0.025em;
            line-height: 1.4;
            padding-bottom: 13.1px;
            padding-top: 27.3px;
        }
        p:nth-child(4) {
            font-size: 14px;
            font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
            letter-spacing: 0.025em;
            line-height: 1.7;
        }
    }


}