@charset 'UTF-8';
@import '../style/reset';
* {
    box-sizing: border-box;
}
html {
    a {
        text-decoration: none;
    }
    .header {
        background-image: url(../img/works_img/works_header@2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        font-family: 'Noto Serif', serif;
 


        &__nav {
            display: flex;
            justify-content: space-between;
            padding: 40px 120px 10px 120px;
        }

        li {
            display: inline;
            padding-left: 30px;
            a {
                color: #fff;
                font-size: 16px;
            }
        }
        h1 {
            font-size: 60px;
            color: #fff;
            text-align: center;
            padding-bottom: 79px;
            letter-spacing: 0.4rem;
        }
    }

    h4 {
        padding-left: 120px;
        padding-top: 16px;
        font-family: 'Rubik', sans-serif;
    }

    .inner {
        padding: 32.8px 220px 102px 222px;
        display: flex;
    }
    .leftblock {
        padding-right: 50px;
        &__main {
            p:nth-child(1) {
                font-size: 14px;
                font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
                float: left;
            }
            p:nth-child(2) {
                font-size: 13px;
                font-family: 'Rubik', sans-serif;
                color: #8B8B8B;
                float: right;
                margin-right: 650px;
            }
            p:nth-child(3) {
                clear: left;
                font-size: 20px;
                padding-top: 29.2px;
                padding-bottom: 36px;
            }
        }
        &__txt {
            font-size: 16px;
            font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
            padding-top: 29.2px;
            padding-bottom: 36px;
            line-height: 2;
        }

        &__news01 {
            font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
            dt {
                font-size: 24px;
                letter-spacing: 0.05em;
                line-height: 2;
                border-bottom: 2px solid #000000;
                padding-bottom: 15.8px;
            }
            dd {
                font-size: 16px;
                letter-spacing: 0.05em;
                line-height: 2;
                padding-top: 32.2px;
                padding-bottom: 132.9px;
            }
        }
        &__news02 {
            font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
            dt {
                font-size: 20px;
                letter-spacing: 0.05em;
                line-height: 1.6;
                padding-bottom: 34px;
                padding-left: 10px;
            }
            &_1::before {
                content: "";
                display: block;
                position: absolute;
                left: 29%;
                bottom: -135%;
                width: 5px;
                height: 15px;
                background-color: #01161F;
                
            }
            &_2::before {
                content: "";
                display: block;
                position: absolute;
                left:29%;
                bottom: -171%;
                width: 5px;
                height: 51px;
                background-color: #01161F;
                
            }


            dd {
                font-size: 16px;
                letter-spacing: 0.05em;
                line-height: 1.6;
                padding-bottom: 90px;
            }
        }

    }


    .rightblock {
        &__title {
            font-size: 20px;
            font-family: 'Noto Serif', serif;
            padding-bottom: 22.8px;
            padding-top: 25px;
        }
        li {
            font-size: 14px;
            font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
            padding-bottom: 10px;
        }
        li:last-child {
            padding-bottom: 26.2px;
        }
        a{
            color: #01161F;
        }
    }

    .button {
        margin-left: 42%;
        color: #fff;
        background-color: #282F35;
        padding: 12.8px 64.7px 15.4px 66px;
        border-radius: 4px;
    }

    .footer {
        p {
            text-align: center;
            padding-top: 128.8px;
            padding-bottom: 30px;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 100;
            letter-spacing: 0.05em;
        }
    }




}