@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html a {
  text-decoration: none;
}

html .header {
  background-image: url(../img/works_img/works_header@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Noto Serif', serif;
}

html .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 120px 10px 120px;
}

html .header li {
  display: inline;
  padding-left: 30px;
}

html .header li a {
  color: #fff;
  font-size: 16px;
}

html .header h1 {
  font-size: 60px;
  color: #fff;
  text-align: center;
  padding-bottom: 79px;
  letter-spacing: 0.4rem;
}

html .breadcrumb {
  padding-left: 120px;
  padding-top: 16px;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
}

html .breadcrumb li {
  display: inline;
}

html .breadcrumb li::after {
  content: '/';
  display: inline-block;
  padding: 0 2px;
}

html .breadcrumb li:last-child::after {
  display: none;
}

html .breadcrumb a {
  color: #3E3E3E;
}

html .inner {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .leftblock {
  padding-right: 77px;
  padding-top: 64.8px;
}

html .leftblock__main time {
  font-size: 14px;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

html .leftblock__main span {
  font-size: 13px;
  font-family: 'Rubik', sans-serif;
  color: #8B8B8B;
  padding-left: 17.5px;
}

html .leftblock__main h2 {
  font-size: 26px;
  padding-top: 29.2px;
  padding-bottom: 36px;
  font-weight: bold;
  color: #3E3E3E;
}

html .leftblock__txt {
  font-size: 16px;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  padding-top: 29.2px;
  padding-bottom: 36px;
  line-height: 2;
}

html .leftblock h3 {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-size: 24px;
  letter-spacing: 0.05;
  line-height: 1.67;
  font-weight: normal;
  border-bottom: #000 solid 2px;
  padding-bottom: 10px;
  margin: 135.9px 0 20px;
}

html .leftblock p {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.05;
}

html .leftblock h4 {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-size: 20px;
  letter-spacing: 0.05;
  line-height: 1.7;
  font-weight: normal;
  padding-left: 15px;
  position: relative;
  margin: 80px 0 20px;
}

html .leftblock h4:before {
  content: '';
  width: 5px;
  height: 50%;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

html .rightblock__title {
  font-size: 20px;
  font-family: 'Noto Serif', serif;
  padding-bottom: 22.8px;
  padding-top: 25px;
}

html .rightblock li {
  font-size: 14px;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  padding-bottom: 10px;
}

html .rightblock li:last-child {
  padding-bottom: 26.2px;
}

html .rightblock a {
  color: #01161F;
  position: relative;
  padding-left: 20px;
}

html .rightblock a:before {
  content: '';
  width: 6px;
  height: 10px;
  background-image: url(../img/works_img/arrow.svg);
  background-repeat: no-repeat;
  background-size: 6px 10px;
  background-position: center;
  position: absolute;
  left: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

html .btn {
  text-align: center;
  padding-top: 91.3px;
  padding-bottom: 98.8px;
}

html .btn__back {
  color: #fff;
  background-color: #282F35;
  padding: 12.8px 64.7px 15.4px 66px;
  border-radius: 4px;
}

html .footer p {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0.05em;
}
/*# sourceMappingURL=detail.css.map */