.header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;

    &__inner {
        position: fixed;
        width: 100%;
        margin: 0 auto;
        padding-top: 19px;
        padding-left: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        float: left;
        width: auto;
        @media screen and (max-width: 767px) {
            padding-top: 10px;
        }
    }

    &__nav {
        display: flex;
        float: right;
        padding-top: 10px;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
        .header__nav.active{
            transform: translateY(0%);
        }

        @media screen and (max-width: 767px) {
            transform: translateY(-100%);
            background-color: #282F35;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &.active{
                transform: translateY(0%);
            }

            > li {
                margin-bottom: 30px;
            }
        }


        a {
            font-size: 1.8em;
            margin-right: 30px;
            color: #ffffff;
            font-style: italic;
            display: inline-block;
            position: relative;

            &:before {
                right: 20%;
                top: 50%;
                content: '';
                border-right: 8px solid #fff;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                height: 3px;
                opacity: 0;
                position: absolute;
                -webkit-transition: all 0.35s ease;
                transition: all 0.35s ease;
              }

              &:hover {
                color: #ffffff;
              }
              &:hover:before {
                right: -18%;
                opacity: 1;
              }
        } 
    }

    .transform{
        background: #282F35;
        width: 100%;
        padding: 20px;
    }

    .header__nav_sp {
        display: block;
        position: fixed;
        right: 40px;
        top: 12px;
        width: 42px;
        height: 42px;
        cursor: pointer;
        z-index: 3;

        span {
            align-items: center;
            display: block;
            position: absolute;
            width: 30px;
            border-bottom: solid 3px #fff;
            -webkit-transition: .35s ease-in-out;	/*変化の速度を指定*/
            -moz-transition: .35s ease-in-out;		/*変化の速度を指定*/
            transition: .35s ease-in-out;			/*変化の速度を指定*/
            left: 6px;
        }
         
        &:-child(1) {
            top: 9px;
        }
         
        &:nth-child(2) {
            top: 18px;
        }
         
        &:nth-child(3) {
            top: 27px;
        }

        &.active span:nth-child(1) {
        top: 18px;
        left: 6px;
        transform: rotate(-45deg);
        }

        &.active span:nth-child(2){
            opacity: 0;
        }
        &.active span:nth-child(3) {
        top: 18px;
        transform: rotate(45deg);
         }
    }

}